<h1>Students</h1>

<div class="container">

<ul>
  <% @students.each do |student| %>
    <li><%=link_to  student.name, student_path(student) %> </li>
  <% end %>
</ul>

<%= link_to "Sort by Name", :sort => "name" %> <br>
<%= link_to "Sort by Date", :sort => "created_at" %>

<hr>

<%= link_to "Add a student", new_student_path %>
</div>
